<Server port="8005" shutdown="SHUTDOWN">
  <Service name="Catalina">

    <Connector port="8443"
               maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
               enableLookups="false" disableUploadTimeout="true"
               acceptCount="100" debug="0" scheme="https" secure="true"
               sSLImplementation="eu.emi.security.canl.tomcat.CANLSSLImplementation"
               truststore="/etc/grid-security/certificates/"
               hostcert="/etc/grid-security/tomcat-cert.pem"
               hostkey="/etc/grid-security/tomcat-key.pem"
               updateinterval="3600000"
               clientAuth="true" sslProtocol="TLS" 
               crlcheckingmode="require"
               SSLEnabled="true"/>

    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps" />
    </Engine>
  </Service>
</Server>
